<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Bootstrap cdn-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <!--jQuery cdn-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="./img/eventPlannerLogo3.png" id="logo">
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-warning" id="user-btn">User Registration</button>
        <button type="button" class="btn btn-warning" id="reserve-btn">Book your Event</button>
        <button type="button" class="btn btn-warning" id="venues-btn">View Venues</button>
      </div>
    </div>
  </div>
  {{{body}}}
</body>

</html>