<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/"><button type="button" class="btn btn-warning" id="home-btn">Home</button></a>
            <a href="/aboutUs"><button type="button" class="btn btn-warning" id="aboutUs-btn">About Us</button></a>
            <a href="/booking"><button type="button" class="btn btn-warning" id="booking-btn">Getting
                    Started</button></a>
            <a href="/events"><button type="button" class="btn btn-warning" id="events-btn">Current Events</button></a>
        </div>
    </div>
</div>
<br><br>
<div class="container" >
    <div class="row">
        <div class="col-4 offset-4" style="color:white">
            <p><strong>Alexi Sanabria</strong></p>
            <p><strong>Christopher Donner</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-2" style="background-color:white">
            <p>We are fledging fullstack developers, living in the Region of Waterloo, who are keen on event planning.</p>
            <p>This is a node.js application making use of MySQL and handlebars.</p>
            <br><br>
            <p>The application is a web server with API endpoints for the front-end page to make Ajax calls to to GET, PUT, POST and DELETE from the database</p>
            <p>There is no actual HTML in our repository, the page is created dynamically, with data from the MySQL database and rendered to the browser</p>
        </div>
    </div>
</div>