<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/"><button type="button" class="btn btn-warning" id="home-btn">Home</button></a>
      <a href="/aboutUs"><button type="button" class="btn btn-warning" id="aboutUs-btn">About Us</button></a>
      <a href="/booking"><button type="button" class="btn btn-warning" id="booking-btn">Getting
          Started</button></a>
      <a href="/events"><button type="button" class="btn btn-warning" id="events-btn">Current Events</button></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">User</h5>

              <a href="/">â† Back To Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>