<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/"><button type="button" class="btn btn-warning" id="home-btn">Home</button></a>
      <a href="/aboutUs"><button type="button" class="btn btn-warning" id="aboutUs-btn">About Us</button></a>
      <a href="/booking"><button type="button" class="btn btn-warning" id="booking-btn">Getting
          Started</button></a>
      <a href="/events"><button type="button" class="btn btn-warning" id="events-btn">Current Events</button></a>
    </div>

    <div id="home">
      <div class="container">
        <div class="row">
            
            <h3>Users in the database:</h3>
            <ul id="user-list" class="list-group">
              {{#each Users}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="users/{{this.id}}">{{this.name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
            </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/indexEvents.js"></script>