.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url(../img/weddingPic.jpg); /*Temporary Background*/
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.labelsForRegistration {
  background-color: rgb(247, 242, 243);
  font-size: 20px;
}

#userRegistration {
  background:rgba(255,255,255,0.5);
  margin-left: 800px;
  margin-top: 100px;
}
